.header-bg{
    background: #000000;
}

.header{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    /* box-sizing: border-box; */
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.header-menu a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 20px 0;
    position: relative;
}

.header-menu a:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    margin: 8px 0 0 0;
    position: absolute;
}

.header-menu a:hover:after{
    width: 100%;
    transition: 0.4s;
}

.header-menu a.active:after{
    width: 100%;
}

@media (max-width: 800px){
    
    .header-menu{
        gap: 1rem;
    }

    .header-menu a{
        font-size: 1.2rem;
        background: #2E2E2E;
        padding: 8px 12px;
        border-radius: 5px;
    }

    .header-menu a:after{
        display: none;
    }
    
}