.container{
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.botao.secundario{
    background: var(--c10);
    color: var(--c2);
}

.botao.secundario:hover{
    background: var(--c9);
}

.botao.seta{
    display: flex;
    align-items: center;
}

.botao.seta::after{
    content: "";
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background: url(/assets/icones/seta.svg);
    transition: transform 0.3s;
}

.botao.seta:hover::after{
    transform: translateX(5px);
}

.botao {
    display: inline-block;
    padding: 1rem 2rem;
    background: linear-gradient(#FFBB00, #F2A50C);
    color: #000000;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    max-width: max-content;
}

.botao:hover {
    background:  linear-gradient(#ffb60d, #d37407);
}

/* titulos internos */

.titulo-bg{
    background: var(--c11);
    padding-top: 60px;
    padding-bottom: 60px;
}

.titulo{
    background: url(/assets/dec/bottom-right.svg) no-repeat top right 20px;
}

.titulo p{
    margin-bottom: 4px;
}

@media (max-width: 800px){
    
    .botao {
        padding: 0.75rem 1rem;
        font-size: 1rem;
    }

    .titulo-bg{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .titulo p{
        font-size: 1rem;
        text-transform: lowercase;
        font-weight: 400;
    }
}