.depoimento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--a1);
    overflow: hidden;
}

.depoimento-imagem {
    border-radius: 0px !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: end;
    background: url(/assets/dec/bottom-right-p.svg) no-repeat bottom 40px right 40px;
}

.depoimento-conteudo p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    max-width: 31ch;
    position: relative;
}

.depoimento p::before{
    content: "“";
    font-size: 5rem;
    color: var(--a2);
    position: absolute;
    left: -50px;
    top: -20px;
}

.depoimento p::after{
    content: "”";
    font-size: 5rem;
    color: var(--a2);
    position: absolute;
    right: -20px;
    bottom: -50px;
}

@media  (min-width: 1200px){
    .depoimento img {
        max-height: 520px;
    }
}

@media  (max-width: 800px) {
    .depoimento{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .depoimento-conteudo {
        padding: 40px 20px;
        justify-self: center;
    }
    .depoimento p::before{
        left: 0;
        top: -20px;
    }

    .depoimento p::after{
        right: 180px;
        bottom: -20px;
    }

    .depoimento-imagem{
        max-height: 400px;
    }
}