#orcamento{
    background: linear-gradient(var(--c11) 500px, var(--c2) 120px);
}

.orcamento {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding-bottom: 120px;
}

.orcamento h2{
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
}

.orcamento h2::before{
    content: '';
    display: block;
    width: 4px;
    height: 8px;
    background: var(--a1);
    position: absolute;
    left: -12px;
}

.orcamento-produto,
.orcamento-dados{
    padding: 60px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.orcamento-produto {
    border-radius: 5px 0 0 5px;
    background: var(--c12);
}

.orcamento-dados {
    border-radius: 0 5px 5px 0;
    background: var(--w);
}

.orcamento-produto label {
    background: #ccc;
    padding: 20px;
    display: inline-block;
}

.orcamento-conteudo{
    padding: 20px;
    background: #222;
    margin: 20px 0;
    display: none;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro{
    display: block;
}